.password-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--clr-bg);
    color: var(--clr-fg);
    text-align: center;
    padding: 2em;
    box-shadow: var(--shadow);
    background-color: var(--clr-bg-alt);
  }
  
  .password-container h1 {
    font-size: 2rem;
    margin-bottom: 1em;
  }
  
  .password-container input {
    padding: 0.5em;
    font-size: 1rem;
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
  }
  
  .password-container button {
    padding: 0.5em 1em;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--clr-primary);
    color: var(--clr-bg);
    border: none;
  }